In [104]:
import sys

sys.path.append("..")
import pandas as pd 
from pathlib import Path
from src.helpers.variables import REGIONS



interim_data = Path("..") / "data" / "interim" / "count_demographics_interim.pkl"

df = pd.read_pickle(interim_data)

In [41]:
df.Site.value_counts()

College Track Oakland                 514
College Track San Francisco           455
College Track Boyle Heights           427
College Track East Palo Alto          410
College Track Aurora                  399
College Track New Orleans             334
College Track Sacramento              259
College Track Watts                   259
College Track Denver                  150
College Track at The Durant Center    131
Name: Site, dtype: int64

In [45]:
df['site_short'].value_counts()

OAK      514
SF       455
BH       427
EPA      410
AUR      399
NOLA     334
SAC      259
WATTS    259
DEN      150
PGC      131
Name: site_short, dtype: int64

In [24]:
pd.pivot_table(df, index='Contact Record Type', columns='site_short', values='18 Digit ID', aggfunc='count')

site_short,,DEN,EPA,OAK,PGC,SAC,SF,WATTS
Contact Record Type,,,,,,,,
Student: High School,645.0,150.0,235.0,270.0,131.0,189.0,194.0,217.0
Student: Post-Secondary,515.0,NaN,175.0,244.0,NaN,70.0,261.0,42.0

In [35]:
first_gen = pd.pivot_table(df, index=['Contact Record Type','Indicator: First Generation'], columns='site_short', values='18 Digit ID', aggfunc='count', fill_value=0)

In [31]:
race = pd.pivot_table(df, index=['Contact Record Type','Ethnic background'], columns='site_short', values='18 Digit ID', aggfunc='count', fill_value=0)

In [102]:
gender = pd.pivot_table(df, index=['Contact Record Type','Gender'], columns='site_short', values='18 Digit ID', aggfunc='count', fill_value=0)

In [103]:
for region in REGIONS:
    if any(x in region['site_short'] for x in list(gender.columns)):
        gender[region['region_short']] = gender[region['site_short']].sum(axis=1)

# df['C'] =  df[['A', 'B']].sum(axis=1)

KeyError: "['Ward 8'] not in index"

In [92]:
"AUR" in list(gender.columns)

True

In [86]:
for region in REGIONS:
    print(region)

{'region_long': 'New Orleans', 'region_short': 'NOLA', 'sites_long': ['College Track New Orleans'], 'site_short': ['NOLA']}
{'region_long': 'East Coast', 'region_short': 'East Coast', 'sites_long': ['College Track at the Durant Center', 'College Track Ward 8'], 'site_short': ['PGC', 'Ward 8']}
{'region_long': 'Bay Area', 'region_short': 'Bay Area', 'sites_long': ['College Track Oakland', 'College Track San Francisco', 'College Track East Palo Alto'], 'site_short': ['OAK', 'SF', 'EPA']}
{'region_long': 'Northern California', 'region_short': 'Nor Cal', 'sites_long': ['College Track Oakland', 'College Track San Francisco', 'College Track East Palo Alto', 'College Track Sacramento'], 'site_short': ['OAK', 'SF', 'EPA', 'SAC']}
{'region_long': 'Los Angeles', 'region_short': 'LA', 'sites_long': ['College Track Watts', 'College Track Boyle Heights'], 'site_short': ['WATTS', 'BH']}
{'region_long': 'Colorado', 'region_short': 'CO', 'sites_long': ['College Track Aurora', 'College Track Denver'], 'site_short': ['AUR', 'DEN']}

In [94]:
gender

site_short                                AUR   BH  DEN  EPA  NOLA  OAK  PGC  \
Contact Record Type     Gender
Student: High School    Decline to State    0    0    0    0     0    0    0
                        Female            159  163   92  130   103  158   66
                        Male               73   93   56  105    53  112   65
                        Other               0    0    2    0     1    0    0
Student: Post-Secondary Female             98  117    0  117   128  150    0
                        Male               69   54    0   58    49   94    0
                        Other               0    0    0    0     0    0    0

site_short                                SAC   SF  WATTS
Contact Record Type     Gender
Student: High School    Decline to State    2    0      0
                        Female            120  103    131
                        Male               67   90     86
                        Other               0    0      0
Student: Post-Secondary Female             49  173     23
                        Male               21   87     19
                        Other               0    1      0